$primary_color: rgb(63, 99, 191);
// $primary_color: #00B5AD;

html, body {
    // min-width: 800px;
}

body {
    background-color: rgba(253,253,254,1);
    padding-top: 56px; // menu height + 5

    & > .ui.fluid.container {
        padding: 42px 20px;
        margin-top: 56px;
    }
    & > nav.menu {
        margin-left: 0;
        margin-right: 0;
        background-color: $primary_color !important;
        .item {
            color: white !important;
        }
    }
}

#headerLogo {
    display:block;
}
#headerLogo img{
    max-width:94%;
}
.position--relarive {
    position: relative;
}
.display--inline-block {
    display: inline-block;
}
.clearfix::after {
    content:"";
    display:table;
    clear:both;
}
.padding--0 {
    padding: 0!important;
}
.padding-left-side--0 {
    padding-left: 0!important;
    padding-top: 0!important;
    padding-bottom: 0!important;
}
.padding-right-side--0 {
    padding-right: 0!important;
    padding-top: 0!important;
    padding-bottom: 0!important;
}

section.ui.fluid.container {
    & > div > .nav, & > div > .article {
        display: inline-block;
        padding: 10px;
        float: left;
    }
    & > div > .nav {
        vertical-align: top;
        width: 290px;
        margin-top: 5px;
        border: 1px solid #d4d4d4;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 1.2em 1.7em;
        background: #fff;
        & > .ui.menu {
            width: 100%;
            & > .item:not(.header):not(.normal) {
                padding-top: 10px;
                padding-bottom: 10px;
                font-size: 0.85em;
                & > .ui.label {
                    font-size: 0.85em;
                }
            }
        }
    }
    & > div > .article {
        max-width:910px;


        & > .ui.steps > .step:not(.active) > .content > .title {
            max-width: 85px;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        & > h2.ui.header {
            margin-top: 5px;
        }
    }
}



/**
 * Semantic UI Overload
 */
.ui.modal >.close {
    top: 0.6em;
    right: 0.5em;
    color: #1b1c1d;
}

.ui.feed {
    & > .event > .content {
        & .meta {
            & .star {
                color: '';
                -webkit-transition: .2s color ease;
                transition: .2s color ease;

                &:hover .icon {
                    opacity: 1;
                    color: #FFB70A;
                }
                &.active .icon {
                    color: #FFE623;
                }
            }
        }
        & .extra.text {
            max-width: 100%;
        }
    }
}
.ui.card > .content .mail.icon, .ui.cards > .card > .content .mail.icon {
    cursor: pointer;
    opacity: .75;
    -webkit-transition: color .1s ease;
    transition: color .1s ease;
    &:hover {
        opacity: 1;
        // color: #FFB70A
    }
    &.active {
        // color :
    }
}
.ui.text {
    font-weight: 300;
}
small.ui.text {
    color:#fff;
    display:block;
    margin-top: -1rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.ui.floating.label.middle {
    top: -2px;
    left: calc(100% + 25px);
    white-space: nowrap;
}
.ui.embed:not(.active) {
     & > i {
        -webkit-box-shadow:inset 0 0 50em -20px rgba(0,0,0,1);
        box-shadow:inset 0 0 50em -20px rgba(0,0,0,1);
     }
}
.ui.menu.attached.tabular {
    position: relative;
    max-width: 1200px;
    margin: 0px auto;
    & > .item.header {
        position: absolute;
        left: 0;
        top: 3px;
        padding: 0;
        margin: 0;
        font-size: 25px;
        font-weight: 600;
    }
}
.ui.bottom.attached.tab.segment.active {
    max-width:1200px;
    margin: 0px auto;
    padding: 1.8em;
}
.ui.celled.compact.striped.table {
    td {
        white-space: nowrap;
    }
}

.scrollable {
    // display: none!important;
    overflow-y: auto;
}

.text-align--center {
    text-align: center!important;
}
.float--right {
    float: right!important;
}
.left-header {
    width: 135px;
    color: #666;
    display: inline-block;
    float: left;
}
.left-header-content {
    width: calc(100% - 135px);
    display: inline-block;
    float: left;
}

a > .ui.horizontal.label {
    width: 60px;
    border-radius: 50em;
}

.ui.vertical.menu.basic {
    box-shadow: none;
    border:0;

    & > .header.item {
        font-size: 180%;
        border-radius:0;
        padding: 1rem 0;
        padding-bottom: 18px;
        color: $primary_color;

        & > .icon {
            margin: 0 .5em 0 0;
            float: left;
        }
    }

    & .item:before {
        background-color: transparent;
    }

    & > .items-body {
        padding: 0;
        counter-reset: cur_order 0;

        & > .item {
            padding: 0.6rem 0;
            color: #999;
            &.hidden {
                display: none;
            }

            &:before {
                content: "STEP" " " counters(cur_order,".");
                counter-increment: cur_order;
                display: inline-block;
                position: static;
                -ms-flex-item-align: middle;
                align-self: middle;
                margin-right: 6px;
                font-family: inherit;
                font-size: 0.8em;
                font-weight: 700;
                width: 4.8em;
                height: 2em;
                line-height: 1.6em;
                color: #999;
                min-width: 14px;
                border-radius: 50em;
                text-align: center;
                padding: 2px;
                border:1px solid #999;
            }
        }
    }

    & .active.item {
        background-color: transparent;
    }
}

.ui.top.fixed.secondary.menu {
    padding-left: 0;
    padding-right: 0;
    height: 56px;
    & > .header.item {
        width: 100%;
        margin: 0;
        position: absolute;
        text-align: center;
        display: block;
        text-transform: uppercase;

        & > .ui.text.container.logo {
            text-align: left;
            line-height: 1;
            font-size: 90%;
            width: 240px !important;
        }
    }
    & > .right.menu {
        margin-right: 20px;
        & .item.logout {
            padding: 7px 18px;
            background-color: rgba(255,255,255, 0.15);
            border-radius: 50em !important;
        }
    }
}

#menuCover {
    position: fixed;
    width: 100%;
    background: #fff;
    background-color: white;
    box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.ui.secondary.pointing.menu.basic-center {
    text-align: center;
    display: block;
    border: none;
    min-height: auto;

    & > .item {
        font-size: 86%;
        line-height: 1.6;
        color: #666;
        min-width: 96px;
        display: inline-block;
        text-align: center;
        margin: 0;

    }
    & > .dropdown {

        & > .menu {
            border-color: #eaeaea;
            border-radius: 0;
            box-shadow: none;
        }

        &.selection {
            border-color: #666 !important;
            color: #111 !important;
        }
    }
}
h1.ui.top.attached.header.basic {
    color: $primary_color;
    border-bottom:0;
    padding: 36px 32px;
    padding-bottom: 7px;
    font-weight:normal !important;

    & + .ui.bottom.attached.segment {
        padding: 36px 32px;
    }
}
.ui.bottom.attached.segment p{
    padding:0;
    margin:0;
}
.ui.segments.basic {
    border-color: #eaeaea;
    border-radius: 0;
    box-shadow: none;
    & > .segment {
        border-radius: 0 !important;
        border-color: #eaeaea;
    }
}
.ui.segments.basic a{
    color:#555;
}
.ui.segment.selene-basic {
    border-color: #eaeaea;
    border-radius: 0;
    box-shadow: none;
    max-width: 1200px;
    margin:0px auto;
    margin-top: 26px;

    & > .ui.top.attached.label {
        border-radius: 0;
    }
}
.ui.segment.selene-basic.wid100 {
    max-width: none;
    width: 100%;
}
.ui.segment.selene-basic.wid100 h4, .ui.segment.selene-basic.wid100 p{
    max-width: 1200px;
    margin: 0px auto;
    margin-bottom: 2rem;
}
.ui.segment.selene-basic.wid100 h4 {
    color:#444;
}
.ui.segment.selene-basic.wid100 p {
    color:#888;
}
.ui.top.attached.label {
    font-size: 1.2em;
}


.ui.segment.selene-basic.noline {
    border:0;
    background:none;
}
.ui.fluid.card {
    border-radius: 0;
}

.ui.menu .deep-blue.active.item, .ui.deep-blue.menu .active.item {
    border-color: $primary_color !important;
    color: $primary_color !important;
}
.ui.deep-blue.label, .ui.deep-blue.labels .label {
    background-color: $primary_color !important;
    border-color: $primary_color !important;
    color: #FFF!important;
}
.ui.deep-blue.button, .ui.deep-blue.buttons .button {
    background-color: $primary_color;
    color: #FFF;
    text-shadow: none;
    background-image: none;
}
.ui.deep-blue.button:hover, .ui.deep-blue.buttons .button:hover {
    background-color: darken($primary_color, 10);
    color: #FFF;
    text-shadow: none;
}
.ui.deep-blue.button:focus, .ui.deep-blue.buttons .button:focus {
    background-color: darken($primary_color, 20);
    color: #FFF;
    text-shadow: none;
}

.ui.label.float--right {
    padding:0.7rem 1.1rem;
}
@media only screen and (max-width: 991px) {
    .ui[class*="computer only"] {
        display: none!important;
    }
    section.ui.fluid.container {
        & > .nav {
            display: block!important;
            width: 100%;
        }
        & > .article {
            width: 100%;
        }
    }
}
